<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="400px">
    <mat-card-header>
        <mat-card-title>Time to start a workout!</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://p2.piqsels.com/preview/201/212/835/weight-exercise-workout-weight-lifting.jpg" alt="workout">
    <mat-card-content>
        Select type of training
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Start</button>
    </mat-card-actions>
    </mat-card>
</section>

