<mat-sidenav-container>

  <mat-sidenav #sidenav role="navigation">
    <p>Sidenav bar</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <div>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div><a routerLink="/">Logo</a></div>
        <!--fxFlex mete todo en un container que ocupe el width restante,
            fxLayout para convertirlo en un flex container
            para que no esten tan cerca los links se meten dentro de un li -->
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/training">Training</a></li>
          </ul>
        </div>     
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- <button mat-icon-button color="primary">
  Dale like <mat-icon>add_location</mat-icon>
</button> -->