<mat-sidenav-container>

  <mat-sidenav #sidenav role="navigation">
                               <!-- Method from sidenav angular material component -->
    <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- <button mat-icon-button color="primary">
  Dale like <mat-icon>add_location</mat-icon>
</button> -->